@model IEnumerable<OrnekEticaretsitesi.Areas.Admin.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="container">
<p>
    <a asp-action="Create" class="btn btn-primary" >Kategori ekle</a>
</p>
    <table class="table table-strip table-bordered" id="DataTable">
    <thead>
        <tr>
            <th>
               Kategori Adı
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryID" class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryID" class="btn btn-warning">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#DataTable').DataTable(
            {
                "language":{
                    "url":"//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                  
            }                
            });
        });
    </script>
}
@*Datatable için gerekli olan bileşenler
https://datatables.net/
cdn lin
//cdn.datatables.net/2.1.3/js/dataTables.min.js*@